@import "elements/index.css";
@import "src/styles/variables";
@import "src/styles/bootstrap-customized";
@import "src/styles/font-awesome";
@import "src/styles/global";
@import "src/styles/tailwind";
@import "../../shared/html/styles/shared-styles";
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '~swiper/swiper-bundle';

$brand-primary:         darken(#46acca, 6.5%) !default; //

$--color-primary:  darken(#46acca, 6.5%);

body {
  //font-family: 'Gotu', serif;
  background-color: #e3e7ed;
}

::-webkit-scrollbar {
  display: none;
}

#bottom{
  position:fixed;
  white-space: nowrap;
  width:100%;
  height:5px;
  padding:5px;
  bottom:15px;
}


.col-row{
  margin-bottom: 15px;
  vertical-align: bottom;
  height: 35px;
  line-height: 35px;


  .col-label{
    vertical-align: middle;
  }

  label{
    vertical-align: middle;
    font-weight: normal;
  }

  .btn-col{
    margin-top: 15px;
  }
}

.content-block {
  span {
    display: block;
  }
  h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

.row [class*='col-'] {
  transition: flex 0.5s ease-in-out, max-width .5s ease-in-out;
}

button:disabled {
  cursor: default;
}

.h-0\.5 {
  height: 0.125rem;
}
