@import "../../../custom_frameworks/izitoast/1.4.0/css/iziToast.min.css";
@import "../../shared/html/styles/shared-styles";
@import "../html/custom-frame/custom-frame";
@import "src/styles/font-awesome";
@import "src/styles/tailwind";

.ls-container {
    @import "src/styles/bootstrap-customized";
    @import '~bootstrap/scss/bootstrap';
    @import '~bootstrap-vue/src/index.scss';
}

body {
    overflow: hidden;
}

.ls-full-screen-video {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    min-width: 0 !important;
    min-height: 0 !important;
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    visibility: visible !important;
    border-width: 0 !important;
    background: black !important;
    z-index: 0;
    overflow-y: hidden;
}

.ls-video-buttons {
    position: fixed;
    bottom: 5%;
    right: 10%;
    z-index: 99999;

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
}

.ls-invisible {
    visibility: hidden;
    max-width: 0;
    max-height: 0;
}

.iziToast-wrapper-topRight {
    top: 35px !important;
}

.video-button {
    width: 1em !important;
    height: 1em !important;
}
