$primary-color: #26aaaf;
$light-blue-color: #4dc1f9cf;
$black-color: #2c2c2c;
$border: 1px solid rgba(0, 0, 0, 0.1);
$background-white: #e3e7ed;
$containerBackground: #ffffff;
$containerWidth: 880px;
$borderColor: #ddd;
$windowControlButtonsHeight: 40px;
$zindex: 2000000020;
$green: #025e02;
$red: #8e0000;
$yellow: #eacb03;
$gray: #d2d2d2;
$shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$shadow-normal: 0 8px 8px 1px rgba(0, 0, 0, 0.4);
